title = "index.htm"
url = "/"
layout = "master"
is_hidden = 0
==
<div class="container-fluid">
            <div class="row">
                <div class="col-xl-6">
                    <div class="chart-statistic-box">
                        <div class="chart-txt">
                            <div class="chart-txt-top">
                                <p><span class="unit">$</span><span class="number">1540</span></p>
                                <p class="caption">Week income</p>
                            </div>
                            <table class="tbl-data">
                                <tr>
                                    <td class="price color-purple">120$</td>
                                    <td>Orders</td>
                                </tr>
                                <tr>
                                    <td class="price color-yellow">15$</td>
                                    <td>Investments</td>
                                </tr>
                                <tr>
                                    <td class="price color-lime">55$</td>
                                    <td>Others</td>
                                </tr>
                            </table>
                        </div>
                        <div class="chart-container">
                            <div class="chart-container-in">
                                <div id="chart_div"></div>
                                <header class="chart-container-title">Income</header>
                                <div class="chart-container-x">
                                    <div class="item"></div>
                                    <div class="item">tue</div>
                                    <div class="item">wed</div>
                                    <div class="item">thu</div>
                                    <div class="item">fri</div>
                                    <div class="item">sat</div>
                                    <div class="item">sun</div>
                                    <div class="item">mon</div>
                                    <div class="item"></div>
                                </div>
                                <div class="chart-container-y">
                                    <div class="item">300</div>
                                    <div class="item"></div>
                                    <div class="item">250</div>
                                    <div class="item"></div>
                                    <div class="item">200</div>
                                    <div class="item"></div>
                                    <div class="item">150</div>
                                    <div class="item"></div>
                                    <div class="item">100</div>
                                    <div class="item"></div>
                                    <div class="item">50</div>
                                    <div class="item"></div>
                                </div>
                            </div>
                        </div>
                    </div><!--.chart-statistic-box-->
                </div><!--.col-->
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <article class="statistic-box red">
                                <div>
                                    <div class="number">26</div>
                                    <div class="caption"><div>Open tickets</div></div>
                                    <div class="percent">
                                        <div class="arrow up"></div>
                                        <p>15%</p>
                                    </div>
                                </div>
                            </article>
                        </div><!--.col-->
                        <div class="col-sm-6">
                            <article class="statistic-box purple">
                                <div>
                                    <div class="number">12</div>
                                    <div class="caption"><div>Closes tickets</div></div>
                                    <div class="percent">
                                        <div class="arrow down"></div>
                                        <p>11%</p>
                                    </div>
                                </div>
                            </article>
                        </div><!--.col-->
                        <div class="col-sm-6">
                            <article class="statistic-box yellow">
                                <div>
                                    <div class="number">104</div>
                                    <div class="caption"><div>New clients</div></div>
                                    <div class="percent">
                                        <div class="arrow down"></div>
                                        <p>5%</p>
                                    </div>
                                </div>
                            </article>
                        </div><!--.col-->
                        <div class="col-sm-6">
                            <article class="statistic-box green">
                                <div>
                                    <div class="number">29</div>
                                    <div class="caption"><div>Here is an example of a long name</div></div>
                                    <div class="percent">
                                        <div class="arrow up"></div>
                                        <p>84%</p>
                                    </div>
                                </div>
                            </article>
                        </div><!--.col-->
                    </div><!--.row-->
                </div><!--.col-->
            </div><!--.row-->
    
            <div class="row">
                <div class="col-xl-6 dahsboard-column">
                    <section class="box-typical box-typical-dashboard panel panel-default scrollable">
                        <header class="box-typical-header panel-heading">
                            <h3 class="panel-title">Recent orders</h3>
                        </header>
                        <div class="box-typical-body panel-body">
                            <table class="tbl-typical">
                                <tr>
                                    <th><div>Status</div></th>
                                    <th><div>Clients</div></th>
                                    <th align="center"><div>Orders#</div></th>
                                    <th align="center"><div>Date</div></th>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary">Paid</span>
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td align="center">3435362</td>
                                    <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 8:30</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary">Paid</span>
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td>Thomas Bayer</td>
                                    <td align="center">3435362</td>
                                    <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 16:30</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary">Paid</span>
                                        <span class="label label-default">Inactive</span>
                                    </td>
                                    <td>Nicolas Karabat</td>
                                    <td align="center">3435362</td>
                                    <td class="color-blue-grey" nowrap align="center"><span class="semibold">Yesterday</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-default">Unpaid</span>
                                        <span class="label label-default">Inactive</span>
                                    </td>
                                    <td>Alexandre Pome</td>
                                    <td align="center">3435362</td>
                                    <td class="color-blue-grey" nowrap align="center">23th May</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary">Paid</span>
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td>John Doe</td>
                                    <td align="center">3435362</td>
                                    <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 8:30</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary">Paid</span>
                                        <span class="label label-success">Active</span>
                                    </td>
                                    <td>Thomas Bayer</td>
                                    <td align="center">3435362</td>
                                    <td class="color-blue-grey" nowrap align="center"><span class="semibold">Today</span> 16:30</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary">Paid</span>
                                        <span class="label label-default">Inactive</span>
                                    </td>
                                    <td>Nicolas Karabat</td>
                                    <td align="center">3435362</td>
                                    <td class="color-blue-grey" nowrap align="center"><span class="semibold">Yesterday</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-default">Unpaid</span>
                                        <span class="label label-default">Inactive</span>
                                    </td>
                                    <td>Alexandre Pome</td>
                                    <td align="center">3435362</td>
                                    <td class="color-blue-grey" nowrap align="center">23th May</td>
                                </tr>
                            </table>
                        </div><!--.box-typical-body-->
                    </section><!--.box-typical-dashboard-->
                    <section class="box-typical box-typical-dashboard panel panel-default scrollable">
                        <header class="box-typical-header panel-heading">
                            <h3 class="panel-title">Comments</h3>
                        </header>
                        <div class="box-typical-body panel-body">
                            <article class="comment-item">
                                <div class="user-card-row">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-photo">
                                            <a href="#">
                                                <img src="{{ 'assets/img/photo-64-1.jpg'|theme }}" alt="">
                                            </a>
                                        </div>
                                        <div class="tbl-cell">
                                            <span class="user-card-row-name"><a href="#">Matt McGill</a></span>
                                        </div>
                                        <div class="tbl-cell tbl-cell-date">
                                            <span class="semibold">Today</span>
                                            12:45
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-item-txt">
                                    <p>That’s a great idea! I’m sure we could start this project as soon as possible.</p>
                                    <p>Let’s meet tomorow!</p>
                                </div>
                                <div class="comment-item-meta">
                                    <a href="#" class="star">
                                        <i class="font-icon font-icon-star"></i>
                                    </a>
                                    <a href="#">
                                        <i class="font-icon font-icon-re"></i>
                                    </a>
                                    <!--Реализация кнопками-->
                                    <!--<button type="button" class="star">-->
                                    <!--<i class="font-icon font-icon-star"></i>-->
                                    <!--</button>-->
                                    <!--<button type="button">-->
                                    <!--<i class="font-icon font-icon-re"></i>-->
                                    <!--</button>-->
                                </div>
                            </article>
                            <article class="comment-item">
                                <div class="user-card-row">
                                    <div class="tbl-row">
                                        <div class="tbl-cell tbl-cell-photo">
                                            <a href="#">
                                                <img src="{{ 'assets/img/photo-64-2.jpg'|theme }}" alt="">
                                            </a>
                                        </div>
                                        <div class="tbl-cell">
                                            <span class="user-card-row-name"><a href="#">Tim Collins</a></span>
                                        </div>
                                        <div class="tbl-cell tbl-cell-date">
                                            <span class="semibold">Today</span>
                                            12:45
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-item-txt">
                                    <p>That’s a great idea! I’m sure we could start this project as soon as possible.</p>
                                    <p>Let’s meet tomorow!</p>
                                </div>
                                <div class="comment-item-meta">
                                    <a href="#" class="star active">
                                        <i class="font-icon font-icon-star"></i>
                                    </a>
                                    <a href="#">
                                        <i class="font-icon font-icon-re"></i>
                                    </a>
                                    <!--Реализация кнопками-->
                                    <!--<button type="button" class="star">-->
                                    <!--<i class="font-icon font-icon-star"></i>-->
                                    <!--</button>-->
                                    <!--<button type="button">-->
                                    <!--<i class="font-icon font-icon-re"></i>-->
                                    <!--</button>-->
                                </div>
                            </article>
                        </div><!--.box-typical-body-->
                    </section>
                </div><!--.col-->
                <div class="col-xl-6 dahsboard-column">
                    <section class="box-typical box-typical-dashboard panel panel-default scrollable">
                        <header class="box-typical-header panel-heading">
                            <h3 class="panel-title">Recent tickets</h3>
                        </header>
                        <div class="box-typical-body panel-body">
                            <table class="tbl-typical">
                                <tr>
                                    <th><div>Status</div></th>
                                    <th><div>Subject</div></th>
                                    <th align="center"><div>Department</div></th>
                                    <th align="center"><div>Date</div></th>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-success">Open</span>
                                    </td>
                                    <td>Website down for one week</td>
                                    <td align="center">Support</td>
                                    <td nowrap align="center"><span class="semibold">Today</span> 8:30</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-success">Open</span>
                                    </td>
                                    <td>Restoring default settings</td>
                                    <td align="center">Support</td>
                                    <td nowrap align="center"><span class="semibold">Today</span> 16:30</td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-warning">Progress</span>
                                    </td>
                                    <td>Loosing control on server</td>
                                    <td align="center">Support</td>
                                    <td nowrap align="center"><span class="semibold">Yesterday</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-danger">Closed</span>
                                    </td>
                                    <td>Authorizations keys</td>
                                    <td align="center">Support</td>
                                    <td nowrap align="center">23th May</td>
                                </tr>
                            </table>
                        </div><!--.box-typical-body-->
                    </section><!--.box-typical-dashboard-->
                    <section class="box-typical box-typical-dashboard panel panel-default scrollable">
                        <header class="box-typical-header panel-heading">
                            <h3 class="panel-title">Contacts</h3>
                        </header>
                        <div class="box-typical-body panel-body">
                            <div class="contact-row-list">
                                <article class="contact-row">
                                    <div class="user-card-row">
                                        <div class="tbl-row">
                                            <div class="tbl-cell tbl-cell-photo">
                                                <a href="#">
                                                    <img src="{{ 'assets/img/photo-64-2.jpg'|theme }}" alt="">
                                                </a>
                                            </div>
                                            <div class="tbl-cell">
                                                <p class="user-card-row-name"><a href="#">Tim Collins</a></p>
                                                <p class="user-card-row-mail"><a href="#">timcolins@mail.com</a></p>
                                            </div>
                                            <div class="tbl-cell tbl-cell-status">Director at Tony’s</div>
                                        </div>
                                    </div>
                                </article>
                                <article class="contact-row">
                                    <div class="user-card-row">
                                        <div class="tbl-row">
                                            <div class="tbl-cell tbl-cell-photo">
                                                <a href="#">
                                                    <img src="{{ 'assets/img/photo-64-1.jpg'|theme }}" alt="">
                                                </a>
                                            </div>
                                            <div class="tbl-cell">
                                                <p class="user-card-row-name"><a href="#">Maggy Smith</a></p>
                                                <p class="user-card-row-mail"><a href="#">maggysmith@mail.com</a></p>
                                            </div>
                                            <div class="tbl-cell tbl-cell-status">PR Manager</div>
                                        </div>
                                    </div>
                                </article>
                                <article class="contact-row">
                                    <div class="user-card-row">
                                        <div class="tbl-row">
                                            <div class="tbl-cell tbl-cell-photo">
                                                <a href="#">
                                                    <img src="{{ 'assets/img/photo-64-3.jpg'|theme }}" alt="">
                                                </a>
                                            </div>
                                            <div class="tbl-cell">
                                                <p class="user-card-row-name"><a href="#">Molly Bridjet</a></p>
                                                <p class="user-card-row-mail"><a href="#">mollybr@mail.com</a></p>
                                            </div>
                                            <div class="tbl-cell tbl-cell-status">Assistan</div>
                                        </div>
                                    </div>
                                </article>
                                <article class="contact-row">
                                    <div class="user-card-row">
                                        <div class="tbl-row">
                                            <div class="tbl-cell tbl-cell-photo">
                                                <a href="#">
                                                    <img src="{{ 'assets/img/photo-64-4.jpg'|theme }}" alt="">
                                                </a>
                                            </div>
                                            <div class="tbl-cell">
                                                <p class="user-card-row-name"><a href="#">Maggy Smith</a></p>
                                                <p class="user-card-row-mail"><a href="#">maggysmith@mail.com</a></p>
                                            </div>
                                            <div class="tbl-cell tbl-cell-status">PR Manager</div>
                                        </div>
                                    </div>
                                </article>
                                <article class="contact-row">
                                    <div class="user-card-row">
                                        <div class="tbl-row">
                                            <div class="tbl-cell tbl-cell-photo">
                                                <a href="#">
                                                    <img src="{{ 'assets/img/photo-64-2.jpg'|theme }}" alt="">
                                                </a>
                                            </div>
                                            <div class="tbl-cell">
                                                <p class="user-card-row-name"><a href="#">Tim Collins</a></p>
                                                <p class="user-card-row-mail"><a href="#">timcolins@mail.com</a></p>
                                            </div>
                                            <div class="tbl-cell tbl-cell-status">Director at Tony’s</div>
                                        </div>
                                    </div>
                                </article>
                                <article class="contact-row">
                                    <div class="user-card-row">
                                        <div class="tbl-row">
                                            <div class="tbl-cell tbl-cell-photo">
                                                <a href="#">
                                                    <img src="{{ 'assets/img/photo-64-1.jpg'|theme }}" alt="">
                                                </a>
                                            </div>
                                            <div class="tbl-cell">
                                                <p class="user-card-row-name"><a href="#">Maggy Smith</a></p>
                                                <p class="user-card-row-mail"><a href="#">maggysmith@mail.com</a></p>
                                            </div>
                                            <div class="tbl-cell tbl-cell-status">PR Manager</div>
                                        </div>
                                    </div>
                                </article>
                                <article class="contact-row">
                                    <div class="user-card-row">
                                        <div class="tbl-row">
                                            <div class="tbl-cell tbl-cell-photo">
                                                <a href="#">
                                                    <img src="{{ 'assets/img/photo-64-3.jpg'|theme }}" alt="">
                                                </a>
                                            </div>
                                            <div class="tbl-cell">
                                                <p class="user-card-row-name"><a href="#">Molly Bridjet</a></p>
                                                <p class="user-card-row-mail"><a href="#">mollybr@mail.com</a></p>
                                            </div>
                                            <div class="tbl-cell tbl-cell-status">Assistan</div>
                                        </div>
                                    </div>
                                </article>
                                <article class="contact-row">
                                    <div class="user-card-row">
                                        <div class="tbl-row">
                                            <div class="tbl-cell tbl-cell-photo">
                                                <a href="#">
                                                    <img src="{{ 'assets/img/photo-64-4.jpg'|theme }}" alt="">
                                                </a>
                                            </div>
                                            <div class="tbl-cell">
                                                <p class="user-card-row-name"><a href="#">Maggy Smith</a></p>
                                                <p class="user-card-row-mail"><a href="#">maggysmith@mail.com</a></p>
                                            </div>
                                            <div class="tbl-cell tbl-cell-status">PR Manager</div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div><!--.box-typical-body-->
                    </section><!--.box-typical-dashboard-->
                </div><!--.col-->
            </div>
        </div><!--.container-fluid-->