description = "master layout"
==
<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>StartUI - Premium Bootstrap 4 Admin Dashboard Template</title>


<link href="{{ 'assets/img/favicon.144x144.png'|theme }}" rel="apple-touch-icon" type="image/png" sizes="144x144">
<link href="{{ 'assets/img/favicon.114x114.png'|theme }}" rel="apple-touch-icon" type="image/png" sizes="114x114">
<link href="{{ 'assets/img/favicon.72x72.png'|theme }}" rel="apple-touch-icon" type="image/png" sizes="72x72">
<link href="{{ 'assets/img/favicon.57x57.png'|theme }}" rel="apple-touch-icon" type="image/png">
<link href="{{ 'assets/img/favicon.png'|theme }}" rel="icon" type="image/png">
<link href="{{ 'assets/img/favicon.ico'|theme }}" rel="shortcut icon">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="{{ 'assets/css/lib/lobipanel/lobipanel.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/separate/vendor/lobipanel.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/lib/jqueryui/jquery-ui.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/separate/pages/widgets.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/lib/font-awesome/font-awesome.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/lib/bootstrap/bootstrap.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">

</head>
<body class="with-side-menu control-panel control-panel-compact">

    {% partial 'new/header' %}

    <div class="mobile-menu-left-overlay"></div>

    {% partial 'new/navigation' %}

    <div class="page-content">
        {% page %}
    </div><!--.page-content-->

   {% partial 'new/footer' %}
</body>
</html>